/* Colors */ 

$bgGreyPrimary: #F0F2F5;

$colorTextBlackPrimary: #0000;
$colorTextBlack100: #65676B;
$colorTextBlack200: #1C1E21;
$colorTextBlack300: #050505;

$colorTextGrey50: #DADDE1;
$colorTextGrey100: #C0C0C0;
$colorTextGrey200: #868282;

$colorBorderGrey50: #DDDFE2;

$colorBluePrimary: #166FE5;
$colorGreenPrimary: #42B72A;