.content {
  padding: 0 60px 0 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  // Mobile Version
  @media (max-width: 575.98px) {
    width: 100%;
    padding-right: var(--bs-gutter-x,.75rem);
    padding-left: var(--bs-gutter-x,.75rem);
    margin-right: auto;
    margin-left: auto;
  }
}